<div class="container" id="cont">
    <div class="row" id="imgtitre">
        <img src="img/uba4.png" width="201px" height="150px">
    </div>
    <div class="row" id="titre">
    </div>
    <div class="row" id="formc">
        <form>
            <!--  <input type="text" ng-model="connectCtrl.username" class="form-control" placeholder="Username">
              <input type="password" ng-model="connectCtrl.password" class="form-control" placeholder="Password">
              <button type="submit" ng-click="connectCtrl.login()" class="btn btn-danger">SeConnecter</button>
              ----------------------------------------------------------------------------------------------------------- -->
              <input type="text" ng-model="connectCtrl.connexion.name" class="form-control" placeholder="Username">
              <input type="password" ng-model="connectCtrl.connexion.pass" class="form-control" placeholder="Password">
              <button type="submit" style="margin-left:130px " ng-click="connectCtrl.usernames(connectCtrl.connexion)" class="btn btn-danger">SeConnecter</button>
          </form>
      </div>
  </div>
