<div class="container" id="save">
    <h3 style="font-weight: bold;color:#d61a0c;">Enregistrement des Materielles</h3>
    <hr>
    <form>
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">Nom du materielle</label>
                <input type="text" class="form-control" ng-model="mateCtrl.materielle.nom" id="validationDefault01" placeholder="Nom materielle" value="ordinateur" required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Numeros de serie</label>
                <input type="text" class="form-control"ng-model="mateCtrl.materielle.numeros_serie" id="validationDefault02" placeholder="Numeros de serie" value="Cdki689916148" required>
            </div>
            <div class="form-group col-md-2">
                <label for="inputFonction">Etat de Fonctionnement</label>
                <select id="inputFonction" class="form-control" ng-model="mateCtrl.materielle.Etat_id">
                    <option ng-repeat="m in mateCtrl.etat" value="{{m.id}}">{{m.libelle}}</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputuser">Beneficaire</label>
                <select id="inputuser" ng-model="mateCtrl.materielle.beneficiaire_id" class="form-control">
                    <option ng-repeat="b in mateCtrl.beneficiaire " value="{{b.ids}}">{{b.beneficiaire}}</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputMark">Marque</label>
                <select id="inputMark" ng-model="mateCtrl.materielle.marque_id"  class="form-control">
                    <option ng-repeat="ma in mateCtrl.marque" value="{{ma.id}}">{{ma.libelle}}</option>
                    <option data-toggle="modal" data-target="#Marque" data-whatever="@mdo">Ajouter la Marque</option>
                </select>
            </div>
            <div class="modal fade" id="Marque" tabindex="-1" role="dialog" aria-labelledby="MarqueLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="MarqueLabel">Enregistrement de la marque</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Nom de la marque</label>
                                    <input type="text"  ng-model="mateCtrl.marques.libelle" class="form-control" id="recipient-name">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" ng-click="mateCtrl.enregistrementMarque(mateCtrl.marques)" class="btn btn-primary">Enregistrer la marque</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary"  ng-click="mateCtrl.enregistrementMat(mateCtrl.materielle)" type="submit">Enregistrer</button>
    </form>
</div>
