<div class="container">
    <div style="border:1px solid black;padding-bottom:180px;margin-top: 80px; background-color: red" >
        <h2 style="margin-left: 18px;font-family: sans-serif">UBA STUDENT</h2>
    <form class="col-lg-4">
        <input type="text" ng-model="connexionCtrl.username"class="form-control input-lg" placeholder="USER" style="margin-top: 10px">
        <input type="password" ng-model="connexionCtrl.password" class="form-control input-lg" placeholder="PASSWORD" style="margin-top: 10px">
        <button class="btn btn-primary" ng-click="connexionCtrl.login()"style="margin-top: 10px">Connexion</button>
    </form>
    </div>
</div>