#contenue{

    padding-bottom: 577px;
    margin-left: 5px;
}
body{
    background-color: #f7f7f7;
}
#list{
    margin-top: -500px;
    margin-left: 240px;
}
#save{
    margin-top: -400px;
    margin-left: 250px;
}
#bencont{
    margin-top: -400px;
    margin-left: 250px;
}
#caracteri{
    margin-top: -400px;
    margin-left: 360px;
}
#lc{
    margin-top: -400px;
    margin-left: 300px;
}